 html {
        scroll-behavior: smooth;
    }

body {
    font-family: 'Inter', sans-serif;
    background-color: #FAF1E6; /* Champagne */
    color: #4A4A4A; /* Grafite suave */
}

h1, h2, h3, h4, .font-serif {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    color: #2D2D2D; /* Contraste elegante */
}

.bg-beige {
    background-color: #F3E5D2; /* Bege rosado */
}

.btn-outline {
    border: 1px solid #B89C88; /* Nude escuro */
    color: #B89C88;
    transition: all 0.3s ease;
}

.btn-outline:hover {
    background-color: #B89C88;
    color: #FFFFFF;
}

.product-card {
    background-color: #FFFFFF; /* Fundo claro para cards */
    transition: all 0.4s ease;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
}

.product-card img {
    transition: transform 0.4s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}

.link-ativo {
color: black;
}
.link-ativo::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 1px;
width: 100%;
background-color: black;
}



#mobile-menu-button {
    transition: opacity 1s ease, visibility 1s ease;
    z-index: 2;
}

.text-dourado{
    color: #dabc69;
}